@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

body{
  background: #222;
}

.container{
  width: 100%;
  align-items: center;
  display: flex;
}

h3{
  font-family: 'Ubuntu',  sans-serif;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

h4{
  font-family: 'Ubuntu',  sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 10px 50px;
  background: rgb(24, 116, 116) ;
  box-shadow: #187474 10px 10px 10px -10px;
  margin: 10px;
  animation: label 6s linear infinite;
}

@keyframes label {
  0%{
    background-color: white;
  }
  25%{
    background-color: rgb(24, 116, 116);
  }
  50%{
    background-color: #187474;
  }
  75%{
    background-color: #187470;
  }
  100%{
    background-color: white;
  }
}


.numeros{
  display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   margin: 4px;
   font-size: 30px;
   font-weight: bold;
   background-color: rgb(24, 116, 116);
   cursor: pointer;
   color: white;
}

.rifa{
  justify-content: center;
  flex-direction: column;
  border:aqua 1px solid;
  margin: 30px;
}
.rifa li{
  display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   margin: 4px;
   font-size: 30px;
   font-weight: bold;
   background-color: rgb(24, 116, 116);
   cursor: pointer;
   color: white;
}

.rifa .venda{
  display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   margin: 4px;
   font-size: 30px;
   font-weight: bold;
   background-color: red;
   cursor: pointer;
   color: white;
}

.modal-container{
  width: 60vh;
  height: 50vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

.modal label{
  font-size: 14px;
  width: 100%;
}

.modal input{
  width: 100%;
  outline: none;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  width: 50%;
  overflow: hidden;
  background-size: cover;
}

span{
  color: white;
}

.modal label{
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  width: 100%;
  color: white;
}

.modal input{
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  outline: none;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgba(0,0,0,0.7);
  color: white;
}

.btnsalvar{
  font-family: 'Ubuntu', sans-serif;
  padding: 6px 10px;
  background-color: #187474;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: .4s ease-in-out;
}
.btnsalvar:hover{
  box-shadow: #187474 10px 15px 15px -10px;
}

.btnvoltar{
  font-family: 'Ubuntu', sans-serif;
  padding: 6px 10px;
  background-color: #187474;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: .4s ease-in-out;
}
.btnvoltar:hover{
  box-shadow: #187474 10px 15px 15px -10px;
}


.active{
  display: flex;
}

.active .modal{
  animation: modal .4s linear;
}

@keyframes modal {
  from{
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
  to{
    opacity:1;
    transform: translate3d(0, 0, 0);
  }
}

@media(max-width: 500px){
  .modal{
    width: 30%;
  }
  .modal label {
    font-size: 12px !important;
  }
  .modal input{
    font-size: 12px !important;
  }
  .modal button{
    font-size: 12px !important;
  }
}